USE [master]
GO
/****** Objeto:  Database [FoodPay]    Data do Script: 09/06/2026 21:18:52 ******/
CREATE DATABASE [FoodPay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FoodPay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER02\MSSQL\DATA\FoodPay.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FoodPay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER02\MSSQL\DATA\FoodPay_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FoodPay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FoodPay]
GO
/****** Objeto:  Table [dbo].[__EFMigrationsHistory]    Data do Script: 09/06/2026 21:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Alunos]    Data do Script: 09/06/2026 21:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alunos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SenhaHash] [nvarchar](255) NOT NULL,
	[Saldo] [decimal](10, 2) NOT NULL,
	[LimiteDiario] [decimal](10, 2) NOT NULL,
	[Ativo] [bit] NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
	[LimiteSemanal] [decimal](18, 2) NOT NULL,
	[LimiteMensal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Categorias]    Data do Script: 09/06/2026 21:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Funcionarios]    Data do Script: 09/06/2026 21:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SenhaHash] [nvarchar](255) NOT NULL,
	[Cargo] [nvarchar](50) NOT NULL,
	[Ativo] [bit] NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[ItensPedido]    Data do Script: 09/06/2026 21:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItensPedido](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PedidoId] [int] NOT NULL,
	[ProdutoId] [int] NOT NULL,
	[Quantidade] [int] NOT NULL,
	[PrecoUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Notificacoes]    Data do Script: 09/06/2026 21:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificacoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AlunoId] [int] NULL,
	[ResponsavelId] [int] NULL,
	[Mensagem] [nvarchar](255) NOT NULL,
	[Lida] [bit] NOT NULL,
	[DataEnvio] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Pagamentos]    Data do Script: 09/06/2026 21:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagamentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PedidoId] [int] NOT NULL,
	[Valor] [decimal](10, 2) NOT NULL,
	[Metodo] [nvarchar](30) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[DataPagamento] [datetime] NULL,
	[StripePaymentIntentId] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Pedidos]    Data do Script: 09/06/2026 21:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AlunoId] [int] NOT NULL,
	[DataPedido] [datetime] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[ValorTotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Produtos]    Data do Script: 09/06/2026 21:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produtos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Descricao] [nvarchar](255) NULL,
	[Preco] [decimal](10, 2) NOT NULL,
	[ImagemUrl] [nvarchar](255) NULL,
	[Disponivel] [bit] NOT NULL,
	[CategoriaId] [int] NOT NULL,
	[Estoque] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Responsaveis]    Data do Script: 09/06/2026 21:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Responsaveis](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SenhaHash] [nvarchar](255) NOT NULL,
	[Telefone] [nvarchar](20) NULL,
	[Ativo] [bit] NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[ResponsavelAluno]    Data do Script: 09/06/2026 21:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResponsavelAluno](
	[ResponsavelId] [int] NOT NULL,
	[AlunoId] [int] NOT NULL,
	[PermiteAlterarLimite] [bit] NOT NULL,
	[RecebeNotificacao] [bit] NOT NULL,
	[UltimoAlertaSaldoBaixo] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResponsavelId] ASC,
	[AlunoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[TransacoesFinanceiras]    Data do Script: 09/06/2026 21:18:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransacoesFinanceiras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AlunoId] [int] NOT NULL,
	[ResponsavelId] [int] NULL,
	[Tipo] [nvarchar](30) NOT NULL,
	[Valor] [decimal](10, 2) NOT NULL,
	[Descricao] [nvarchar](255) NULL,
	[DataTransacao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alunos] ADD  DEFAULT ((0)) FOR [Saldo]
GO
ALTER TABLE [dbo].[Alunos] ADD  DEFAULT ((0)) FOR [LimiteDiario]
GO
ALTER TABLE [dbo].[Alunos] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Alunos] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Alunos] ADD  CONSTRAINT [DF_Alunos_LimiteSemanal]  DEFAULT ((0)) FOR [LimiteSemanal]
GO
ALTER TABLE [dbo].[Alunos] ADD  CONSTRAINT [DF_Alunos_LimiteMensal]  DEFAULT ((0)) FOR [LimiteMensal]
GO
ALTER TABLE [dbo].[Funcionarios] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Funcionarios] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Notificacoes] ADD  DEFAULT ((0)) FOR [Lida]
GO
ALTER TABLE [dbo].[Notificacoes] ADD  DEFAULT (getdate()) FOR [DataEnvio]
GO
ALTER TABLE [dbo].[Pagamentos] ADD  DEFAULT ('PENDENTE') FOR [Status]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT (getdate()) FOR [DataPedido]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ('PENDENTE') FOR [Status]
GO
ALTER TABLE [dbo].[Produtos] ADD  DEFAULT ((1)) FOR [Disponivel]
GO
ALTER TABLE [dbo].[Produtos] ADD  CONSTRAINT [DF_Produtos_Estoque]  DEFAULT ((100)) FOR [Estoque]
GO
ALTER TABLE [dbo].[Responsaveis] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Responsaveis] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[ResponsavelAluno] ADD  DEFAULT ((1)) FOR [PermiteAlterarLimite]
GO
ALTER TABLE [dbo].[ResponsavelAluno] ADD  DEFAULT ((1)) FOR [RecebeNotificacao]
GO
ALTER TABLE [dbo].[TransacoesFinanceiras] ADD  DEFAULT (getdate()) FOR [DataTransacao]
GO
ALTER TABLE [dbo].[ItensPedido]  WITH CHECK ADD  CONSTRAINT [FK_ItemPedido_Pedido] FOREIGN KEY([PedidoId])
REFERENCES [dbo].[Pedidos] ([Id])
GO
ALTER TABLE [dbo].[ItensPedido] CHECK CONSTRAINT [FK_ItemPedido_Pedido]
GO
ALTER TABLE [dbo].[ItensPedido]  WITH CHECK ADD  CONSTRAINT [FK_ItemPedido_Produto] FOREIGN KEY([ProdutoId])
REFERENCES [dbo].[Produtos] ([Id])
GO
ALTER TABLE [dbo].[ItensPedido] CHECK CONSTRAINT [FK_ItemPedido_Produto]
GO
ALTER TABLE [dbo].[Notificacoes]  WITH CHECK ADD  CONSTRAINT [FK_Notificacao_Aluno] FOREIGN KEY([AlunoId])
REFERENCES [dbo].[Alunos] ([Id])
GO
ALTER TABLE [dbo].[Notificacoes] CHECK CONSTRAINT [FK_Notificacao_Aluno]
GO
ALTER TABLE [dbo].[Notificacoes]  WITH CHECK ADD  CONSTRAINT [FK_Notificacao_Responsavel] FOREIGN KEY([ResponsavelId])
REFERENCES [dbo].[Responsaveis] ([Id])
GO
ALTER TABLE [dbo].[Notificacoes] CHECK CONSTRAINT [FK_Notificacao_Responsavel]
GO
ALTER TABLE [dbo].[Pagamentos]  WITH CHECK ADD  CONSTRAINT [FK_Pagamento_Pedido] FOREIGN KEY([PedidoId])
REFERENCES [dbo].[Pedidos] ([Id])
GO
ALTER TABLE [dbo].[Pagamentos] CHECK CONSTRAINT [FK_Pagamento_Pedido]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Aluno] FOREIGN KEY([AlunoId])
REFERENCES [dbo].[Alunos] ([Id])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedido_Aluno]
GO
ALTER TABLE [dbo].[Produtos]  WITH CHECK ADD  CONSTRAINT [FK_Produto_Categoria] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[Produtos] CHECK CONSTRAINT [FK_Produto_Categoria]
GO
ALTER TABLE [dbo].[ResponsavelAluno]  WITH CHECK ADD  CONSTRAINT [FK_ResponsavelAluno_Aluno] FOREIGN KEY([AlunoId])
REFERENCES [dbo].[Alunos] ([Id])
GO
ALTER TABLE [dbo].[ResponsavelAluno] CHECK CONSTRAINT [FK_ResponsavelAluno_Aluno]
GO
ALTER TABLE [dbo].[ResponsavelAluno]  WITH CHECK ADD  CONSTRAINT [FK_ResponsavelAluno_Responsavel] FOREIGN KEY([ResponsavelId])
REFERENCES [dbo].[Responsaveis] ([Id])
GO
ALTER TABLE [dbo].[ResponsavelAluno] CHECK CONSTRAINT [FK_ResponsavelAluno_Responsavel]
GO
ALTER TABLE [dbo].[TransacoesFinanceiras]  WITH CHECK ADD  CONSTRAINT [FK_Transacao_Aluno] FOREIGN KEY([AlunoId])
REFERENCES [dbo].[Alunos] ([Id])
GO
ALTER TABLE [dbo].[TransacoesFinanceiras] CHECK CONSTRAINT [FK_Transacao_Aluno]
GO
ALTER TABLE [dbo].[TransacoesFinanceiras]  WITH CHECK ADD  CONSTRAINT [FK_Transacao_Responsavel] FOREIGN KEY([ResponsavelId])
REFERENCES [dbo].[Responsaveis] ([Id])
GO
ALTER TABLE [dbo].[TransacoesFinanceiras] CHECK CONSTRAINT [FK_Transacao_Responsavel]
GO
USE [master]
GO
